
.parallax {
    /* The image used */
    background-image: url("chicago.jpg");
    margin:0;
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html{
  margin: 0;
  padding: 0;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-right{
  margin-right:30px;
}
.nav.navbar-nav.navbar-right li a{ /*links*/
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-brand { /*brand*/
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}
.navbar-default .navbar-nav > li > a:hover{ /*Hover color for links*/
    color:white;
}
.navbar-default .navbar-header > a:hover{ /*Hover color for brand*/
    color:white;
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}
html, body { height: 100%; }
#container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
}
#footer {
  height: 100px;
  position: relative;
  background-color:black;
  top: -20px;
}
.clearfooter {
height: 100px;
clear: both;
}
.footer_tab{
  background-color:black;
  height: 20%;
  empty-cells: show;
}
.footer_tab th{
  font-family: 'Lato', sans-serif;
  font-size:20px;
  color:white;
  text-align:center;
  vertical-align:middle;
  padding:5px;
 
}
.footer_tab td{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color:#b3b3b3;
  vertical-align:middle;
  padding:5px;
  padding-left:250px;

}
.copyright{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-align:center;
  color:white;
  background-color: black;
}
.portrait{
  margin-left:100px;
}
.inline{
  display:inline-block;
  position: relative;
  bottom: 270px;
  left:50px;
}
#share-buttons img {
  width: 50px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
.align{
  display:inline;
  position: relative;
  left:80px;
}
h4{
  color:white;
  display:inline;
  position:relative;
  left:80px;
}