.parallax {
    /* The image used */
    background-image: url("highrise.jpg");
    margin:0;
    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html{
	margin: 0;
	padding: 0;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-right{
	margin-right:30px;
}
.nav.navbar-nav.navbar-right li a{ /*links*/
    color: white;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 3px black;
    font-size: 18px;
}
.navbar-default .navbar-brand { /*brand*/
    color: white;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 2px 3px black;
    font-size: 25px;
}
.navbar-default .navbar-nav > li > a:hover{ /*Hover color for links*/
    color:white;
}
.navbar-default .navbar-header > a:hover{ /*Hover color for brand*/
    color:white;
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}
html, body { height: 100%; }
#container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
}
#footer {
  height: 100px;
  position: relative;
  background-color:black;
  top: -26px;
}
.clearfooter {
height: 100px;
clear: both;
}
.footer_tab{
  background-color:black;
  height: 20%;
  empty-cells: show;
}
.footer_tab th{
  font-family: 'Lato', sans-serif;
  font-size:20px;
  color:white;
  text-align:center;
  vertical-align:middle;
  padding:5px;
 
}
.footer_tab td{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color:#b3b3b3;
  vertical-align:middle;
  padding:5px;
  padding-left:250px;

}
.section1{
  width:622px;
  height:400px;
  background-image: url("house2.jpg");
  margin-left:0px;
  margin-top: 0px;
  margin-bottom:5px;
  display:inline-block;
  position: relative;
  top: -18px;
  text-align:center;
}
.section2{
  width:621px;
  height:400px;
  background-image: url("house3.jpg");
  background-color: blue;
  margin-left:0px;
  margin-top: 0px;
  margin-right:0px;
  display:inline-block;
  margin-bottom:5px;
  position: relative;
  top: -18px;
  left:-0.1%;
}

